<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>826089848814-hjkafnoa6re5ilhre73hgbcneedqaod3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826089848814-hjkafnoa6re5ilhre73hgbcneedqaod3</string>
	<key>API_KEY</key>
	<string>AIzaSyAThFl8ZG_lFeuMsJLCW8O-qnVVqtxRiG8</string>
	<key>GCM_SENDER_ID</key>
	<string>826089848814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sneha.cs-ia</string>
	<key>PROJECT_ID</key>
	<string>cs-ia-2025</string>
	<key>STORAGE_BUCKET</key>
	<string>cs-ia-2025.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826089848814:ios:0930b8df5db86fe141d8ff</string>
</dict>
</plist>