@font-face {
    font-family: 'CustomFont';
  src: url('../assets/fonts/Jost.ttf') format('woff2'),
       url('../assets/fonts/Jost.ttf') format('woff'),
       url('../assets/fonts/Jost.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}