@font-face {
    font-family: "Jost";
  src: url('../fonts/Jost/Jost-VariableFont_wght.ttf') format('woff2'),
       url('../fonts/Jost/Jost-VariableFont_wght.ttf') format('woff'),
       url('../fonts/Jost/Jost-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}